body {
  margin: 0;
}

#wrapper {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
}

.container {
  width: 960px;
  text-align: center;
  margin:auto;
}
.hero {
  height: 620px;
  /*overflow: hidden;*/
}
.logo {
  float: left;
  /*background-color: #555;*/
  /*display: inline-table;*/
  /*margin-left: 231px;
margin-top: 44px;*/
}
.navigation {
  padding: 20px 0;
}
.navigation::after {
  content: "";
  display: table;
  clear: both;
}
.nav {
  margin: 0;
  float: right;
}
.nav li a {
  line-height: 28px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family: "Brandon Grotesque";
  text-decoration:none;
}
.nav li {
  display: inline-block;
  margin-left: 20px;
}

.content {
  margin-top: 150px;
}

h1 {
  font-size: 32px;
  color: #ffffff;
}
h4 {
  font-size: 60px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

button {
    /*display: inline-block;*/
    font-size: 23px;
    width: 240px;
    height: 65px;
    /*padding: 8px;*/
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    /*text-decoration: none;*/
    background-color: transparent;
    font-weight: bold;
}
